<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128251334224-ehj3uk2hgmpe0r79ia62dhtgoj2ovji5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128251334224-ehj3uk2hgmpe0r79ia62dhtgoj2ovji5</string>
	<key>API_KEY</key>
	<string>AIzaSyC8F3Lsm8ucoSZLq9LKne9qrWlxceYOcnY</string>
	<key>GCM_SENDER_ID</key>
	<string>128251334224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victorhmp.picToText</string>
	<key>PROJECT_ID</key>
	<string>pictotext-9b0d0</string>
	<key>STORAGE_BUCKET</key>
	<string>pictotext-9b0d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:128251334224:ios:c3fe7f1ef32b23e0db0b55</string>
	<key>DATABASE_URL</key>
	<string>https://pictotext-9b0d0.firebaseio.com</string>
</dict>
</plist>
